{% extends '../base.html' %}
{% block title %}
<title>SignUp | Product Hunt</title>
{% endblock title %}
{% block body %}
<div class = "body container">
    <h1 class="text-center">Sign Up!</h1>
    <form action=" {% url 'signup' %} " method="POST">
    {% csrf_token %}
        <h4>Username:</h4>
        <input type="text" class="input-group" name="username">
        {% if error %}
            {{ error }}
        {% endif %}
        <br>
        <h4>Password:</h4>
        <input type="password" class="input-group" name="password1">
        <br>
        <h4>Confirm Password:</h4>
        <input type="password" class="input-group" name="password2">
        {% if perror %}
        {{ perror }}
        {% endif %}
        <br>
        <input type="submit" value="Sign Up!" class="btn btn-outline-info btn-lg" class="m-2">
    </form>
<div>
{% endblock body %}